<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: headerFragment"></head>
<body>
<div id="container">
	<div th:include="layout :: bannerFragment" ></div>
    <div id="workarea">
    	<div th:replace="helpModal :: helpModalFragment"></div>
    	<h1>Database Content Statistics</h1>  
    	<div>
    		<span><span th:text="${analysis.totalRa}"></span> Reporting Obligation records (last update: <span th:text="${analysis.lastUpdateRa}"></span>)</span><br/>
    		<span><span th:text="${analysis.totalLi}"></span> Legislative Instrument records (last update: <span th:text="${analysis.lastUpdateLi}"></span>)</span>
    	</div>
    	<br/>
    	<div class="form-horizontal">
	      	<div class="datatable results">
	      		<div class="form-group odd">
	      			<div class="col-xs-8">Number of reporting obligations used for the EEA Core set of indicators</div>
	      			<div class="col-xs-1 text-center"><span th:text="${analysis.eeaCore}"></span></div>
	      			<div class="col-xs-2 text-center"><span th:if="${analysis.eeaCore > 0}"><a th:href="@{'obligations?anmode=C'}">Show list</a></span></div>
	      			<div class="col-xs-1 text-center"><a class="helpButton" onclick="helpFunction('HELP_ANALYSIS_EEACORE')" title="Help on this field"></a></div>
	      		</div>
	      		<div class="form-group even">
	      			<div class="col-xs-8">Number of reporting obligations used for the Eionet core data flows</div>
	      			<div class="col-xs-1 text-center"><span th:text="${analysis.eeaPriority}"></span></div>
	      			<div class="col-xs-2 text-center"><span th:if="${analysis.eeaPriority > 0}"><a th:href="@{obligations?anmode=P}">Show list</a></span></div>
	      			<div class="col-xs-1 text-center"><a class="helpButton" onclick="helpFunction('HELP_ANALYSIS_EIONETPRIORITY')" title="Help on this field"></a></div>
	      		</div>
	      		<!-- div class="form-group odd">
	      			<div class="col-xs-8">Number of reporting obligations where the delivery process or content overlaps with another reporting obligation</div>
	      			<div class="col-xs-1 text-center"><span th:text="${analysis.overlapRa}"></span></div>
	      			<div class="col-xs-2 text-center"><span th:if="${analysis.overlapRa > 0}"><a th:href="@{obligations?anmode=O}">Show list</a></span></div>
	      			<div class="col-xs-1 text-center"><a class="helpButton" onclick="helpFunction('HELP_ANALYSIS_OVERLAPPING')" title="Help on this field"></a></div>
	      		</div-->
	      		<div class="form-group odd">
	      			<div class="col-xs-8">Number of reporting obligations where the delivery process is managed by EEA</div>
	      			<div class="col-xs-1 text-center"><span th:text="${analysis.flaggedRa}"></span></div>
	      			<div class="col-xs-2 text-center"><span th:if="${analysis.flaggedRa > 0}"><a th:href="@{obligations?anmode=F}">Show list</a></span></div>
	      			<div class="col-xs-1 text-center"><a class="helpButton" onclick="helpFunction('HELP_ANALYSIS_FLAGGED')" title="Help on this field"></a></div>
	      		</div>
	      		<div class="form-group even">
	      			<div class="col-xs-8">Most recent ROD updates	</div>
	      			<div class="col-xs-1 text-center">100</div>
	      			<div class="col-xs-2 text-center"><a th:href="@{/updatehistory}">Show list</a></div>
	      			<div class="col-xs-1 text-center">&nbsp;</div>
	      		</div>
	      		<div class="form-group odd">
	      			<div class="col-xs-8">No issue allocated</div>
	      			<div class="col-xs-1 text-center"><span th:text="${analysis.noIssue}"></span></div>
	      			<div class="col-xs-2 text-center"><span th:if="${analysis.noIssue > 0}"><a th:href="@{obligations?anmode=NI}">Show list</a></span></div>
	      			<div class="col-xs-1 text-center">&nbsp;</div>
	      		</div>
	      	</div>
		</div>
    </div>
    <div th:replace="layout :: footerFragment"></div>
</div>
</body>
</html>
