<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="layout :: headerFragment"></head>
  <body>
  <script>
	 $(document).ready(function(){
	    $('#clientsTable').DataTable({
	    	"sDom": 'Tfrtipt',
	    	"sPaginationType": "full_numbers"
	    });
	    
	});
	</script>
  
  <div id="container">
    <div th:include="layout :: bannerFragment" ></div>
     <div id="workarea">
     
     	<form  name="f">
	        <div class="title">
	        <h1>Clients</h1>
	        <ul class="menu-operations">
		     	<li><span>Operations</span>
					<ul>
		           		<li><a href="clientNewClient.html" th:href="@{/clients/add}">Add client</a></li>
		          	</ul>
		        </li>
	        </ul>
	        </div>
	        
       		<div class="clearfix margin-top-60">
       	
		        <div th:if="${message}" th:text="${message}" class="system-msg">System message</div>
		        <div th:if="${#lists.isEmpty(allClients)}">There are no results.</div>
		        <div th:if="${not #lists.isEmpty(allClients)}">
		          
		          <table id="clientsTable" class="datatable results table table-striped table-bordered">
			        <thead>
				        <tr>
				        	<th>Client name</th>
		                	<th>Client acronym</th>
		                </tr>
		               </thead>
		           	  <tr th:each="client, iterStat : ${allClients}" th:class="${iterStat.odd} ? 'even' : 'odd'">
		              	<td>
		                    <a th:href="@{'/clients/'+${client.clientId}}" href="clientfactsheet.html" th:text="${client.name}"></a>
		               </td>
		               <td class="col-xs-8" th:text="${client.acronym}"></td>
		             </tr>  
		            </table>
		        </div>
	      	</div>
        </form>
      </div>
      <div id="pagefoot" th:include="layout :: footerFragment"></div>
    </div>
  </body>
</html>
