<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="layout :: headerFragment"></head>
  <body>
    <div id="container">
     <div th:include="layout :: bannerFragment" ></div>
      <div id="workarea">
        <h1>Edit Client Organisation</h1>
        
        <form action="clientEditForm.html" method="POST" th:action="@{'/clients/' + ${clientId} + '/edit'}" th:object="${client}" class="form-horizontal">
          <input name="clientId" th:value="*{clientId}" value="55" type="hidden"/>
          <input name="clientsHref" id="clientsHref" th:value="@{'/clients'}" type="hidden"/>
          
          <div class="formtable datatable results">
			<div class="form-group odd">
              <div class="col-lg-4">
                <label class="question required" for="name" >Name</label>
              </div>
              <div class="col-lg-8">
                <input id="name" maxlength="255" name="name" th:field="*{name}" onchange="checkMdText(this); changed()" value="Biosafety Clearing House" type="text" class="form-control"/>
              </div>
           </div>
           <div class="form-group even">
              <div class="col-lg-4">
                <label class="question" for="shortname">Short Name</label>
              </div>
              <div class="col-lg-8">
                <input id="shortname" maxlength="100" name="shortName" th:field="*{shortName}" type="text" class="form-control"/>
              </div>
           </div>
           <div class="form-group odd">
              <div class="col-lg-4">
                <label class="question" for="acronym">Acronym</label>
              </div>
              <div class="col-lg-8">
                <input id="acronym" maxlength="255" name="acronym" th:field="*{acronym}" value="BCH" type="text" class="form-control"/>
              </div>
           </div>
           <div class="form-group even">
              <div class="col-lg-4">
                <label class="question" for="address">Address</label>
              </div>
              <div class="col-lg-8">
                <input id="address" maxlength="255" name="address" th:field="*{address}" value="393 rue Saint-Jacques, suite 300" type="text" class="form-control"/>
              </div>
           </div>
           <div class="form-group odd">
              <div class="col-lg-4">
                <label class="question" for="postalcode">Postal code</label>
              </div>
              <div class="col-lg-8">
                <input id="postalcode" maxlength="255" name="postalCode" th:field="*{postalCode}" value="H2Y 1N9" type="text" class="form-control"/>
              </div>
           </div>
           <div class="form-group even">
              <div class="col-lg-4">
                <label class="question" for="city">City</label>
              </div>
              <div class="col-lg-8">
                <input id="city" maxlength="255" name="city" th:field="*{city}" value="Montreal" type="text" class="form-control"/>
              </div>
           </div>
           <div class="form-group odd">
              <div class="col-lg-4">
                <label class="question" for="country">Country</label>
              </div>
              <div class="col-lg-8">
                <input id="country" maxlength="255" name="country" th:field="*{country}" value="Canada" type="text" class="form-control"/>
              </div>
           </div>
           <div class="form-group even">
              <div class="col-lg-4">
                <label class="question" for="email">Email</label>
              </div>
              <div class="col-lg-8">
                <input id="email" maxlength="255" name="email" th:field="*{email}" value="email@random.com" type="email" class="form-control"/>
              </div>
           </div>
           <div class="form-group odd">
              <div class="col-lg-4">
                <label class="question" for="homepage">Homepage</label>
              </div>
              <div class="col-lg-8">
                <input id="homepage" maxlength="255" name="url" th:field="*{url}" value="http://bch.biodiv.org/" type="text" class="form-control"/>
              </div>
           </div>
           <div class="form-group even">
              <div class="col-lg-4">
                <label class="question" for="description">Description</label>
              </div>
              <div class="col-lg-8">
                <textarea id="description" cols="53" name="description" rows="4" th:field="*{description}" class="form-control">Affected of potentially affected States and the Biosafety Clearing House</textarea>
              </div>
           </div>
          </div>
          <script type="text/javascript">
			   	function exit(){
					location.href = document.getElementById('clientsHref').value;
				}
		  </script>
          <div>
               <input name="edit" value="Save changes" type="submit" class="btn btn-primary"/>
               <input name="cancel" value="Exit" onclick="exit()" type="button" class="btn btn-default"/>
          </div>
          
        </form>
      </div>
      <div id="pagefoot" th:include="layout :: footerFragment"></div>
    </div>
  </body>
</html>
