<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout :: headerFragment}"></head>
<body>
<script>
    $(document).ready(function () {
        $('#clientsTable').DataTable({
            "sDom": 'Tfrtipt',
            "sPaginationType": "full_numbers"
        });

    });

    function deleteClients() {
        var deleteList = '';
        var firstelem = false;
        $("input[name=myCheck]").each(function (index) {
            if ($(this).is(':checked')) {
                if (firstelem) {
                    deleteList += ',';
                }
                deleteList += $(this).val();
                firstelem = true;
            }
        });
        document.getElementById('delClients').value = deleteList;
        if (firstelem) {

            if (window.confirm("Do you really want to delete the seleted clients?")) {
                document.getElementById('delClients').value = deleteList;

                document.forms['f'].action = document.getElementById('hrefdelete').value + "delete";
                document.forms['f'].method = 'POST';
                document.forms['f'].submit();
            }
        } else {
            alert("You must select the clients to delete.")
        }

    }

</script>

<div id="container">
    <div th:insert="~{layout :: bannerFragment}"></div>
    <div id="workarea">

        <form method="POST" th:action="@{/obligations/search}" th:object="${obligation}" name="f">
            <input type="hidden" name="delClients" id="delClients">
            <input type="hidden" name="hrefdelete" id="hrefdelete" th:value="@{'/clients/'}">
            <div class="title">
                <h1>Clients</h1>
                <ul sec:authorize="hasRole('EDITOR')" class="menu-operations">
                    <li><span>Operations</span>
                        <ul>
                            <li><a onclick="deleteClients()">Delete clients</a></li>
                            <li><a href="clientNewClient.html" th:href="@{/clients/add}">New client</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="clearfix margin-top-60">

                <div th:if="${message}" th:text="${message}" class="system-msg">System message</div>
                <div th:if="${#lists.isEmpty(allClients)}">There are no results.</div>
                <div th:if="${not #lists.isEmpty(allClients)}">

                    <table id="clientsTable" class="datatable results table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th sec:authorize="hasRole('EDITOR')"></th>
                            <th>Client name</th>
                            <th>Client acronym</th>
                        </tr>
                        </thead>
                        <tr th:each="client, iterStat : ${allClients}" th:class="${iterStat.odd} ? 'even' : 'odd'">
                            <!-- sec:authorize="hasRole('EDITOR')" -->
                            <td sec:authorize="hasRole('EDITOR')"><input type="checkbox" id="myCheck" name="myCheck" th:value="${client.clientId}"/></td>
                            <td>
                                <a th:href="@{'/clients/'+${client.clientId}}" href="clientFactsheet.html" th:text="${client.name}"></a>
                            </td>
                            <td class="col-xs-8" th:text="${client.acronym}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>
    </div>
    <div id="pagefoot" th:insert="~{layout :: footerFragment}"></div>
</div>
</body>
</html>
