<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="layout :: headerFragment"></head>
  <body>
    <div id="container">
      <div th:include="layout :: bannerFragment"></div>
      <div id="workarea">
        <div sec:authorize="hasRole('EDITOR')" id="drop-operations">
          <h2>Operations</h2>
          <ul>
            <li><a href="clientEditform.html" th:href="@{'/clients/' + ${client.clientId} + '/edit'}">Edit client</a></li>
          </ul>
        </div>

        <h1>Reporting client or issuer details</h1>
        <div th:if="${message}" th:text="${message}" class="system-msg">System message</div>
        <table class="datatable results">
          <col style="width:8em"/>
          <col style="width:30em"/>
          <tbody>
            <tr class="odd">
              <td scope="row">Name</td>
              <td th:text="${client.name}">Council of the European Union</td>
            </tr>
            <tr class="even">
              <td scope="row">Short Name</td>
              <td th:text="${client.shortName}">Council</td>
            </tr>
            <tr class="odd">
              <td scope="row">Acronym</td>
              <td th:text="${client.acronym}">Council</td>
            </tr>
            <tr class="even">
              <td scope="row">Address</td>
              <td th:text="${client.address}"/>
            </tr>
            <tr class="odd">
              <td scope="row">Postal code</td>
              <td th:text="${client.postalCode}">9999</td>
            </tr>
            <tr class="even">
              <td scope="row">City</td>
              <td th:text="${client.city}">Copenhagen</td>
            </tr>
            <tr class="odd">
              <td scope="row">Country</td>
              <td th:text="${client.country}">Daisyland</td>
            </tr>
            <tr class="even">
              <td scope="row">Homepage</td>
              <td>
                <a href="http://www.consilium.europa.eu/" th:href="${client.url}" th:text="${client.url}">
                                    http://www.consilium.europa.eu/
                            </a>
              </td>
            </tr>
            <tr>
              <td scope="row">Description</td>
              <td th:text="${client.description}">
The Council is the EU institution making EU laws.
                        </td>
            </tr>
          </tbody>
        </table>
        <h2>Direct Obligations</h2>
        <table class="datatable" width="600">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
          </tr>
          </thead>
          <tr>
            <td class="odd">
              <a href="/obligations/738">738</a>
            </td>
            <td>Implementation report
                                        </td>
          </tr>
          <tr class="even">
            <td>
              <a href="/obligations/733">733</a>
            </td>
            <td>Updated information on the measures taken
                                        </td>
          </tr>
        </table>
        <h2>Direct Instruments</h2>
        <table class="datatable" width="600">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Alias</th>
          </tr>
          <tr>
            <td>
              <a href="/instruments/394">394</a>
            </td>
            <td>
                                                                Council Decision of 24 July 1995 on the conclusion, on behalf of the Community, of the Convention on the protection and use of transboundary watercourses and international lakes
                                        </td>
          </tr>
          <tr>
            <td>
              <a href="/instruments/287">287</a>
            </td>
            <td>
                                                                Waste Shipments Regulation
                                        </td>
          </tr>
        </table>
      </div>
      <div id="pagefoot" th:include="layout :: footerFragment"></div>
    </div>
    <script type="text/javascript" src="../../js/editor.js" th:src="@{/js/editor.js}"></script>
  </body>
</html>
