<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="layout :: headerFragment"></head>
  <body>
  <script>
	 $(document).ready(function(){
	    $('#deliveriesTable').DataTable({
	    	"sDom": 'Tfrtipt',
	    	"sPaginationType": "full_numbers"
	    });
	    
	});
	</script>
  
  <div id="container">
    <div th:include="layout :: bannerFragment" ></div>
     <div id="workarea">
		<form  name="f">
		     
		     
		     <div class="clearfix margin-top-60">
       	
		        <div th:if="${message}" th:text="${message}" class="system-msg">System message</div>
		        <div th:if="${#lists.isEmpty(allDeliveries)}">There are no results.</div>
		        <div th:if="${not #lists.isEmpty(allDeliveries)}">
		          
		          <table id="deliveriesTable" class="datatable results table table-striped table-bordered">
			        <thead>
				        <tr>
				        	<th>Delivery Title</th>
		                	<th>Delivery Date</th>
		                	<th>Period covered</th>
		                	<th>Coverage note</th>
		                	<th>Coverage</th>
		                </tr>
		               </thead>
		           	  <tr th:each="delivery, iterStat : ${allDeliveries}" th:class="${iterStat.odd} ? 'even' : 'odd'">
		              	<td>
		                    <a th:href="${delivery.deliveryUrl}" th:text="${delivery.deliveryTitle}"></a>
		               </td>
		               <td th:text="${delivery.deliveryUploadDate}"></td>
		               <td th:text="${delivery.deliveryCoverage}"></td>
		               <td th:text="${delivery.deliveryCoverageNote}"></td>
		               <td></td>
		             </tr>  
		            </table>
		        </div>
	      	</div>

		
		</form>
 	</div>
      <div id="pagefoot" th:include="layout :: footerFragment"></div>
    </div>
  </body>
</html>