<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="layout :: headerFragment">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="developer.css"/>
  </head>
  <body>
    <div id="container">
      <div th:include="layout :: bannerFragment">
        <div id="pagehead">
          <div id="networktitle">Datalake</div>
          <div id="sitetitle">European Environment Information and Observation Network</div>
          <div id="sitetagline">Networking improving Europe's environment</div>
        </div>
      </div>
      <div id="workarea">
        <div id="operations">
          <ul>
            <li><a href="editionFactsheet.html" th:href="@{'/editions/' + ${editionId}}" >Back to edition</a></li>
          </ul>
        </div>
        <h1 th:text="'SQL queries on ' + ${dataset.filename}">Page title here</h1>
        <div th:if="${message}" th:text="${message}" class="system-msg">System message</div>
<p>

</p>
<form action="#" th:action="@{'/editions/' + ${editionId} + '/query'}" method="post">
    <table class="datatable">
        <tr>
            <th scope="row"><label for="query">Query</label></th>
            <td>
                <textarea cols="80" rows="10" name="query" id="query"></textarea>
            </td>
        </tr>
    </table>
    <input type="submit" value="Execute"/>
</form>
        <div th:if="${#lists.isEmpty(results)}">
          <h2>Tables &amp; columns</h2>
          <div th:if="${not #lists.isEmpty(columns)}">
            <table class="datatable">
              <col style="width:20em"/>
              <col/>
              <thead>
                <tr>
                  <th scope="col">Table</th>
                  <th scope="col">Columns</th>
                </tr>
              </thead>
              <tbody th:remove="all-but-first">
                <tr th:each="tableCol : ${columns}">
                  <td th:text="${tableCol.key}">Long realistic table name</td>
                  <td th:text="${#strings.listJoin(tableCol.value, ', ')}">col1, col2, col3, col4</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div th:if="${not #lists.isEmpty(results)}">
          <table class="datatable">
            <tbody th:remove="all-but-first">
              <tr th:each="row : ${results}">
                <th:block th:each="column : ${row}">
                  <td th:text="${column}">Value</td>
                </th:block>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
    <!-- container -->
    <div id="pagefoot" th:include="layout :: footerFragment">
    Footer
    </div>
  </body>
</html>
