<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: headerFragment"></head>
<body>
<div id="container">
    <div th:include="layout :: bannerFragment"></div>
    <div id="workarea">
        <div th:replace="helpModal :: helpModalFragment"></div>

        <h1>Edit Reporting Obligation for</h1>

        <form method="POST" th:action="@{'/obligations/' + ${id}}" th:object="${obligation}" name="f" class="form-horizontal">
            <span class="pagebanner">Identification</span>
            <input type="hidden" name="id" th:value="${id}"/>
            <input type="hidden" name="nextDeadline2"/>
            <input type="hidden" name="terminate" value="N"/>
            <input type="hidden" name="sourceId" th:field="*{sourceId}" th:value="*{sourceId}"/>
            <input type="hidden" name="obligationId" th:field="*{obligationId}" th:value="${obligationId}"/>
            <input type="hidden" name="hrefObligations" id="hrefObligations" th:value="@{'/obligations'}">

            <div class="datatable results">

                <div class="form-group">
                    <div class="col-lg-3">
                        <label for="oblTitle" class="required">Title</label>
                    </div>
                    <a class="helpButton col-lg-1" onclick="helpFunction('HELP_RA_TITLE')" title="Help on this field"></a>
                    <div class="col-lg-8">
                        <!--/*@thymesVar id="obligation" type="eionet.rod.model.Obligations"*/-->

                        <input type="text" class="smalltext form-control" maxlength="255" onchange="checkMdText(this); changed()" name="oblTitle" id="oblTitle" th:field="${obligation.oblTitle}"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-3 scope-row">
                        <label for="description" class="required control-label text-left">Description</label>
                    </div>
                    <a class="helpButton col-lg-1" onclick="helpFunction('HELP_RA_DESCRIPTION')" title="Help on this field"></a>
                    <div class="col-lg-8">
                        <textarea class="smalltext form-control" onchange="checkMdText(this); changed()" name="description" id="description" th:field="*{description}" rows="5"></textarea>
                    </div>
                </div>
            </div>

            <br/>
            <span class="pagebanner">Reporting dates</span>
            <div class="datatable results">
                <div class="form-group">
                    <div class="col-lg-3 scope-row">
                        <label for="firstReporting" class="control-label text-left">Baseline reporting date</label>
                    </div>
                    <a class="helpButton col-lg-1" onclick="helpFunction('HELP_RA_VALIDFROM')" title="Help on this field"></a>
                    <div class="col-lg-8 simple_attr_help">
                        <input type="text" class="smalltext date form-control" size="30" onchange="changedReporting()" name="firstReporting" id="firstReporting" th:field="*{firstReporting}"/> (dd/mm/yyyy)
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-lg-3 scope-row">
                        <label for="validTo" class="control-label text-left">Valid to</label>
                    </div>
                    <a class="helpButton col-lg-1" onclick="helpFunction('HELP_RA_VALIDTO')" title="Help on this field"></a>
                    <div class="col-lg-8 simple_attr_help">
                        <input type="text" class="smalltext date form-control" size="30" onchange="changedReporting()" name="validTo" id="validTo" th:field="*{validTo}"/> (dd/mm/yyyy)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-3 scope-row ">
                        <label for="report_freq_months" class="required control-label text-left">Reporting frequency in months</label>
                    </div>
                    <a class="helpButton col-lg-1" onclick="helpFunction('HELP_RA_REPORTINGFREQUENCYINMONTHS')" title="Help on this field"></a>
                    <div class="col-lg-8 simple_attr_help">
                        <input type="text" class="date smalltext form-control" maxlength="25" size="30" onchange="changedReporting(); contReporting();" name="reportFreqMonths" th:field="*{reportFreqMonths}" id="report_freq_months"/> For one-time-only reporting, enter 0 and choose
                        a reasonable Valid to
                    </div>

                </div>
                <div th:class="*{reportFreqMonths == null} ? 'form-group displayYes' : 'form-group displayNone'" id="contReporting">
                    <div class="col-lg-4 scope-row simple_attr_title">&nbsp;</div>
                    <div class="col-lg-5 simple_attr_help">
                        <input type="checkbox" name="continousReporting" onchange="contReportingChanged()" value="yes" checked="checked" id="continousReporting" th:field="*{continousReporting}"/> <label>continuous reporting</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-3 scope-row ">
                        <label for="next_deadline" class="control-label text-left">Next due date</label>
                    </div>
                    <a class="helpButton col-lg-1" onclick="helpFunction('HELP_RA_NEXTDUEDATE')" title="Help on this field"></a>
                    <div class="col-lg-8 simple_attr_help">
                        <input type="text" class="smalltext form-control" size="30" id="next_deadline" onchange="changed()" name="nextDeadline" th:field="*{nextDeadline}"/> (calculated automatically)
                    </div>
                </div>
                <div class="form-group">
                    <div class="advice-msg">
                        <strong>IMPORTANT!</strong> Use the following field <strong>only</strong> if reporting dates (above fields) cannot be given in numerical date format but have to be given in text format (for example, 'ASAP').
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-3 scope-row ">
                        <label for="nextReporting" class="control-label text-left">Reporting date</label>
                    </div>
                    <a class="helpButton col-lg-1" onclick="helpFunction('HELP_RA_REPORTINGDATETEXTFORMAT')" title="Help on this field"></a>
                    <div class="col-lg-8 simple_attr_help">
                        <input type="text" class="smalltext form-control" maxlength="255" name="nextReporting" id="nextReporting" onchange="changed()" th:field="*{nextReporting}"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-3 scope-row">
                        <label for="dateComments">Date comments</label>
                    </div>
                    <a class="helpButton col-lg-1" onclick="helpFunction('HELP_RA_DATECOMMENTS')" title="Help on this field"></a>
                    <div class="col-lg-8 simple_attr_help">
                        <input type="text" class="smalltext  form-control" onchange="changed()" name="dateComments" id="dateComments" th:field="*{dateComments}"/>
                    </div>
                </div>
            </div>
            <br/>
            <span class="pagebanner">Clients</span>
            <div class="datatable results">
                <div class="form-group">
                    <div class="col-lg-3 scope-row ">
                        <label for="report_to" class="required control-label text-left">Report to</label>
                    </div>
                    <a class="helpButton col-lg-1" onclick="helpFunction('HELP_RO_REPORTTO')" title="Help on this field"></a>
                    <div class="col-lg-8">
                        <select th:field="*{clientId}" class="selectObligations form-control" id="report_to" onchange="addClientValuesSel(document.f.report_to, document.f.selectedClients.options)" name="report_to">
                            <option th:each="client : ${allClients}" th:value="${client.clientId}" th:text="${client.acronym != ''} ? ${client.acronym} + ' - ' + ${obligation.truncateText(client.name)} : ${obligation.truncateText(client.name)}"
                                    th:selected="(${client.clientId} == *{clientId})"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-3 scope-row ">
                        <label for="client_list" class="control-label text-left">Other clients using this reporting</label>
                    </div>
                    <a class="helpButton" onclick="helpFunction('HELP_RO_OTHERCLIENTS')" title="Help on this field"></a>
                </div>
                <div class="form-group">
                    <div class="col-lg-55">
                        <select name="selClients" multiple="multiple" id="client_list" class="form-control">
                            <option th:each="client : ${allClients}" th:value="${client.clientId}" th:text="${client.acronym != ''} ? ${client.acronym} + ' - ' + ${obligation.truncateText(client.name)} : ${obligation.truncateText(client.name)}"></option>
                        </select>
                    </div>
                    <div class="col-lg-1">
                        <div class="arrow_btnbox">
                            <input value="-&gt;" onclick="addClientValues(document.f.selClients.options, document.f.selectedClients.options)" class="arrow_btn add" type="button"/>
                        </div>
                        <div class="arrow_btnbox">
                            <input value="&lt;-" onclick="delValues(document.f.selectedClients.options)" class="arrow_btn delete" type="button"/>
                        </div>
                    </div>
                    <div class="col-lg-55">
                        <select th:if="*{selectedClients} != null" name="selectedClients" multiple="multiple" id="selectedClients" class=" form-control" th:field="*{selectedClients}">
                            <option th:each="clientSelected : ${obligationClients}" th:value="${clientSelected.clientId}" th:text="${clientSelected.name}"></option>
                        </select>
                        <select th:unless="*{selectedClients} != null" name="selectedClients" multiple="multiple" id="selectedClients" style="width:100%" th:field="*{selectedClients}" class=" form-control"></select>
                    </div>
                </div>
            </div>
            <br/>
            <span class="pagebanner">How to report</span>
            <div class="datatable results">
                <div class="form-group">
                    <div class="col-lg-3 scope-row ">
                        <label for="formatName" class="control-label text-left">Name of reporting guidelines</label>
                    </div>
                    <a class="helpButton col-lg-1" onclick="helpFunction('HELP_RA_NAMEOFREPORTINGGUIDELINES')" title="Help on this field"></a>
                    <div class="col-lg-8 simple_attr_help">
                        <input type="text" class="smalltext form-control" maxlength="100" name="formatName" id="formatName" onchange="changed()" th:field="*{formatName}"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-3 scope-row "><label for="reportFormatUrl">URL of reporting guidelines</label></div>
                    <a class="helpButton col-lg-1" onclick="helpFunction('HELP_RA_URLTOREPORTINGGUIDELINES')" title="Help on this field"></a>
                    <div class="col-lg-8 simple_attr_help">
                        <input type="text" class="smalltext form-control" maxlength="255" name="reportFormatUrl" id="reportFormatUrl" onchange="chkUrl(this); changed()" th:field="*{reportFormatUrl}"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-3 scope-row">
                        <label for="validSince" class="control-label text-left">Format valid since</label>
                    </div>
                    <a class="helpButton col-lg-1" onclick="helpFunction('HELP_RA_FORMATVALIDSINCE')" title="Help on this field"></a>
                    <div class="col-lg-8 simple_attr_help">
                        <input type="text" class="smalltext date form-control" size="30" name="validSince" id="validSince" onchange="checkDateSimple(this); changed()" th:field="*{validSince}"/> (dd/mm/yyyy)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-3 scope-row">
                        <label for="reportingFormat" class="control-label text-left">Reporting guidelines -Extra info</label>
                    </div>
                    <a class="helpButton col-lg-1" onclick="helpFunction('HELP_RA_REPORTINGGUIDELINES')" title="Help on this field"></a>
                    <div class="col-lg-8 simple_attr_help">
                        <textarea class="smalltext form-control" name="reportingFormat" id="reportingFormat" onchange="changed()" th:field="*{reportingFormat}" rows="5"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-3 scope-row ">
                        <label for="locationInfo" class="control-label text-left">Name of repository</label>
                    </div>
                    <a class="helpButton col-lg-1" onclick="helpFunction('HELP_RA_LOCATIONINFO')" title="Help on this field"></a>
                    <div class="col-lg-8 simple_attr_help">
                        <input type="text" class="smalltext form-control" maxlength="255" name="locationInfo" id="locationInfo" onchange="changed()" th:field="*{locationInfo}"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-3 scope-row "><label for="locationPtr">URL to repository</label></div>
                    <a class="helpButton col-lg-1" onclick="helpFunction('HELP_RA_LOCATIONPTR')" title="Help on this field"></a>
                    <div class="col-lg-8 simple_attr_help">
                        <input type="text" class="smalltext form-control" maxlength="255" name="locationPtr" id="locationPtr" onchange="chkUrl(this); changed()" th:field="*{locationPtr}"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-3 scope-row "><label for="dataUsedFor">Data used for (name)</label></div>
                    <a class="helpButton col-lg-1" onclick="helpFunction('HELP_RA_DATAUSEDFOR')" title="Help on this field"></a>
                    <div class="col-lg-8 simple_attr_help">
                        <input type="text" class="smalltext form-control" maxlength="255" name="dataUsedFor" id="dataUsedFor" onchange="changed()" th:field="*{dataUsedFor}"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-3 scope-row "><label for="dataUsedForUrl">Data used for (URL)</label></div>
                    <a class="helpButton col-lg-1" onclick="helpFunction('HELP_RA_DATAUSEDFOR')" title="Help on this field"></a>
                    <div class="col-lg-8 simple_attr_help">
                        <input type="text" class="smalltext form-control" maxlength="255" name="dataUsedForUrl" id="dataUsedForUrl" onchange="chkUrl(this); changed()" th:field="*{dataUsedForUrl}"/>
                    </div>
                </div>
            </div>
            <br/>
            <span class="pagebanner">Data providers</span>
            <div class="datatable results">
                <div class="form-group">
                    <div class="col-lg-3">
                        <label for="forCountries" class="control-label text-left">Countries reporting formally</label>
                    </div>
                    <a class="helpButton col-lg-1" onclick="helpFunction('HELP_RA_SPATIALCOVERAGE')" title="Help on this field"></a>
                </div>
                <div class="form-group">
                    <div class="col-lg-55">
                        <script type="text/javascript">
                            clist.push("0:All EU Countries:C:");
                        </script>
                        <script th:inline="javascript" th:each="item : ${allcountries}" th:with="dataSpatial = ${item.spatialId} + ':' + ${item.name} + ':' + ${item.type} + ':' + ${item.twoLetter}">
                            //var availableTypes = /*[[${item.spatialId}]]*/
                            var myObjs = [[${dataSpatial}]];
                            clist.push(myObjs);
                        </script>
                        <select name="forCountries" multiple="multiple" id="forCountries" class="form-control">
                            <option value="0" label="All EU countries"></option>
                            <option th:each="country : ${allcountries}" th:value="${country.spatialId}" th:text="${obligation.truncateText(country.name)}"></option>
                        </select>
                        <script type="text/javascript">
                            fillclist('C', document.f.forCountries);
                        </script>
                    </div>
                    <div class="col-lg-1">
                        <div class="arrow_btnbox">
                            <input value="-&gt;" onclick="addValues(document.f.forCountries.options,document.f.selectedFormalCountries.options,null,clist,document.f.selectedVoluntaryCountries.options)" class="arrow_btn add" type="button">
                        </div>
                        <div class="arrow_btnbox">
                            <input value="&lt;-" onclick="delValues(document.f.selectedFormalCountries.options)" class="arrow_btn delete" type="button">
                        </div>
                    </div>
                    <div class="col-lg-55">
                        <select th:if="*{selectedFormalCountries} != null" name="selectedFormalCountries" multiple="multiple" id="selectedFormalCountries" style="width:100%" th:field="*{selectedFormalCountries}" class="form-control">
                            <option th:each="countrySelected : ${obligationCountries}" th:value="${countrySelected.spatialId}" th:text="${countrySelected.name}"></option>
                        </select>
                        <select th:unless="*{selectedFormalCountries} != null" name="selectedFormalCountries" multiple="multiple" id="selectedFormalCountries" style="width:100%" th:field="*{selectedFormalCountries}" class="form-control"></select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-3 scope-row">
                        <label for="volCountries" class="control-label text-left">Countries reporting voluntarily</label>
                    </div>
                    <a class="helpButton col-lg-1" onclick="helpFunction('HELP_RA_VOLUNTARYCOUNTRIES')" title="Help on this field"></a>
                </div>
                <div class="form-group">
                    <div class="col-lg-55">
                        <select name="volCountries" multiple="multiple" id="volCountries" class="form-control">
                            <option value="0" label="All EU countries"></option>
                            <option th:each="country : ${allcountries}" th:value="${country.spatialId}" th:text="${obligation.truncateText(country.name)}"></option>
                        </select>
                    </div>
                    <div class="col-lg-1">
                        <div class="arrow_btnbox">
                            <input value="-&gt;" onclick="addFullValues(document.f.volCountries.options,document.f.selectedVoluntaryCountries.options,clist,document.f.selectedFormalCountries.options)" class="arrow_btn add" type="button">
                        </div>
                        <div class="arrow_btnbox">
                            <input value="&lt;-" onclick="delValues(document.f.selectedVoluntaryCountries.options)" class="arrow_btn delete" type="button">
                        </div>
                    </div>
                    <div class="col-lg-55">
                        <select th:if="*{selectedVoluntaryCountries} != null" name="selectedVoluntaryCountries" multiple="multiple" id="selectedVoluntaryCountries" style="width:100%" th:field="*{selectedVoluntaryCountries}" class="form-control">
                            <option th:each="countryVoluntarySelected : ${obligationVoluntaryCountries}" th:value="${countryVoluntarySelected.spatialId}" th:text="${countryVoluntarySelected.name}"></option>
                        </select>
                        <select th:unless="*{selectedVoluntaryCountries} != null" name="selectedVoluntaryCountries" multiple="multiple" id="selectedVoluntaryCountries" style="width:100%" th:field="*{selectedVoluntaryCountries}" class="form-control"></select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-3 scope-row">
                        <label for="coordinatorRole" class="control-label text-left">National Reporting coordinators</label>
                    </div>
                    <a class="helpButton col-xs-1" onclick="helpFunction('HELP_RA_REPORTINGCOORDINATOR')" title="Help on this field"></a>
                    <div class="col-xs-8 simple_attr_help">
                        <div>
                            <label for="coordinatorRole" class="control-label col-xs-15">Role</label>
                            <input type="text" class="smalltext" name="coordinatorRole" id="coordinatorRole" onchange="changed()" th:field="*{coordinatorRole}"/>
                            <input type="checkbox" name="coordinatorRoleSuf" value="1" checked="checked" id="coordinatorRoleSuf" th:field="*{coordinatorRoleSuf}"/>
                            <label class="control-label">do not append country suffix</label>
                        </div>
                        <div>
						<span class="col-xs-12 or">
							- OR -
						</span>
                        </div>
                        <div>
                            <label for="coordinator" class="control-label col-xs-15">Name</label>
                            <input type="text" class="smalltext" name="coordinator" id="coordinator" onchange="changed()" th:field="*{coordinator}"/>
                            <input type="text" name="coordinatorUrl" onchange="chkUrl(this); changed()" id="coordinatorUrl" th:field="*{coordinatorUrl}"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-3 scope-row">
                        <label for="responsibleRole" class="control-label text-left">National reporting contacts</label>
                    </div>
                    <a class="helpButton col-xs-1" onclick="helpFunction('HELP_RA_RESPONSIBLEFORREPORTING')" title="Help on this field"></a>
                    <div class="col-xs-8 simple_attr_help">
                        <div>
                            <label for="responsibleRole" class="control-label col-xs-15">Role</label>
                            <input type="text" class="smalltext" name="responsibleRole" id="responsibleRole" onchange="changed()" th:field="*{responsibleRole}"/>
                            <input type="checkbox" name="responsibleRoleSuf" value="1" checked="checked" id="responsibleRoleSuf" th:field="*{responsibleRoleSuf}"/>
                            <label class="control-label" for="responsibleRoleSuf">do not append country suffix</label>
                        </div>
                        <div>
						<span class="col-xs-12 or">
							- OR -
						</span>
                        </div>
                        <div>
                            <label for="nationalContact" class="control-label col-xs-15">Name</label>
                            <input type="text" class="smalltext" name="nationalContact" id="nationalContact" onchange="changed()" th:field="*{nationalContact}"/>
                            <input type="text" name="nationalContactUrl" onchange="chkUrl(this); changed()" id="nationalContactUrl" th:field="*{nationalContactUrl}"/>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <span class="pagebanner">Data use</span>
            <div class="datatable results">
                <div class="form-group">
                    <div class="col-lg-3 scope-row">
                        <label for="selIssues" class="control-label text-left">Environmental issues</label>
                    </div>
                    <a class="helpButton col-lg-1" onclick="helpFunction('HELP_RA_ENVIRONMENTALISSUES')" title="Help on this field"></a>
                </div>
                <div class="form-group">
                    <div class="col-lg-55">
                        <select name="selIssues" multiple="multiple" id="selIssues" style="width:100%" class="form-control">
                            <option th:each="issue : ${issues}" th:value="${issue.issueId}" th:text="${issue.issueName}"></option>
                        </select>
                    </div>
                    <div class="col-lg-1">
                        <div class="arrow_btnbox">
                            <input value="-&gt;" onclick="addValuesEnv(document.f.selIssues.options, document.f.selectedIssues.options, null)" class="arrow_btn add" type="button"/>
                        </div>
                        <div class="arrow_btnbox">
                            <input value="&lt;-" onclick="delValues(document.f.selectedIssues.options)" class="arrow_btn delete" type="button"/>
                        </div>
                    </div>
                    <div class="col-lg-55">
                        <select th:if="*{selectedIssues} != null" name="selectedIssues" multiple="multiple" id="selectedIssues" style="width:100%" th:field="*{selectedIssues}" class="form-control">
                            <option th:each="issuesSelected : ${obligationIssues}" th:value="${issuesSelected.issueId}" th:text="${issuesSelected.issueName}"></option>
                        </select>
                        <select th:unless="*{selectedIssues} != null" name="selectedIssues" multiple="multiple" id="selectedIssues" style="width:100%" th:field="*{selectedIssues}" class="form-control"></select>
                    </div>
                </div>
                <!--
                <div class="form-group">
                    <div class="col-lg-3 scope-row"><label for="parameters" class="control-label text-left">Parameters</label></div>
                    <a class="helpButton col-lg-1" onclick="helpFunction('HELP_RA_PARAMETERS')" title="Help on this field"></a></th>
                    <div class="col-lg-8>
                        <textarea class="smalltext inputwidth100" onchange="changed()" name="parameters" id="parameters" th:field="*{parameters}" rows="5" ></textarea>
                    </div>
                </div>
                 -->
                <div class="form-group">
                    <div class="col-lg-3 scope-row"><label class="control-label">This obligation is</label></div>
                    <a class="helpButton col-lg-1" onclick="helpFunction('HELP_RA_FLAGS')" title="Help on this field"></a>
                    <div class="col-lg-8">
                        <input type="checkbox" name="eeaPrimary" checked="checked" value="1" id="eeaPrimary" th:field="*{eeaPrimary}"/> <label for="eeaPrimary" class="control-label">Eionet core data flow</label><br/>
                        <input type="checkbox" name="eeaCore" value="1" checked="checked" id="eeaCore" th:field="*{eeaCore}"/> <label for="eeaCore" class="control-label">used for EEA Core set of indicators</label><br/>
                        <input type="checkbox" name="flagged" value="1" checked="checked" id="flagged" th:field="*{flagged}"/> <label for="flagged" class="control-label">Delivery process is managed by EEA</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-3 scope-row"><label for="comment">General comments</label></div>
                    <a class="helpButton col-lg-1" onclick="helpFunction('HELP_RA_COMMENT')" title="Help on this field"></a>
                    <div class="col-lg-8"><textarea class="smalltext form-control" onchange="changed()" name="comment" id="comment" th:field="*{comment}" rows="5"></textarea></div>
                </div>
                <div class="form-group">
                    <div class="col-lg-3 scope-row simple_attr_title"><label for="authority">Authority giving rise to the obligation</label></div>
                    <a class="helpButton col-lg-1" onclick="helpFunction('HELP_RA_AUTHORITY')" title="Help on this field"></a>
                    <div class="col-lg-8 simple_attr_help">
                        <input type="text" class="smalltext form-control" maxlength="255" name="authority" id="authority" onchange="changed()" th:field="*{authority}"/>
                    </div>
                </div>
            </div>
            <br/>
            <span class="pagebanner">Relation with other obligations</span>
            <div class="datatable results">
                <div class="form-group">
                    <div class="col-lg-3 scope-row">
                        <label for="selIssues" class="control-label text-left">Other obligations:</label>
                    </div>
                    <a class="helpButton col-lg-1" onclick="helpFunction('')" title="Help on this field"></a>
                    <div class="col-lg-8 simple_attr_help">
                        <select th:field="*{relObligationId}" class="selectObligations form-control" id="rel_Obligation" name="rel_Obligation">
                            <option value="0"></option>
                            <option th:each="relObligation : ${relObligations}" th:if="${relObligation.obligationId} != *{obligationId}" th:value="${relObligation.obligationId}" th:text="${relObligation.oblTitle}"
                                    th:selected="(${relObligation.obligationId} == *{relObligationId})"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-3 scope-row simple_attr_title">
                        <label for="selIssues" class="control-label text-left">Relations:</label>
                    </div>
                    <a class="helpButton col-lg-1" onclick="helpFunction('')" title="Help on this field"></a>
                    <div class="col-lg-8 simple_attr_help">
                        <select th:field="*{oblRelationId}" class="selectObligations form-control" id="relationObl" name="relationObl">
                            <option value="0"></option>
                            <option value="replaces">Replaces</option>
                            <option value="is-replaced-by">Is replaced by</option>
                            <option value="see-also">See also</option>
                            <option value="same-as">Same as</option>
                        </select>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                function selectAll() {
                    var errors = false;

                    errors = testrelation();

                    if (!errors) {

                        if (document.getElementById("oblTitle").value == '') {
                            checkMdText(document.getElementById("oblTitle"));
                            errors = true
                        }
                        if (document.getElementById("description").value == '') {
                            checkMdText(document.getElementById("description"));
                            errors = true
                        }

                        if (document.getElementById("report_freq_months").value == '') {
                            checkMdText(document.getElementById("report_freq_months"));
                            errors = true
                        }

                        if (!errors) {
                            if (addClientValuesSel(document.f.report_to, document.f.selectedClients.options)) {
                                selValues(document.f.selectedClients.options);
                                selValues(document.f.selectedFormalCountries.options);
                                selValues(document.f.selectedVoluntaryCountries.options);
                                selValues(document.f.selectedIssues.options);
                                isChanged = false;
                                document.forms['f'].submit();
                            }
                        }
                    }

                }

                function testrelation() {
                    var relError = false;
                    if (document.f.rel_Obligation.value != '0') {
                        if (document.f.relationObl.value == '0') {
                            alert("The 'Relations' field must be filled.");
                            relError = true;
                        }

                    } else {
                        if (document.f.relationObl.value != '0') {
                            alert("The 'Other obligations' field must be filled.");
                            relError = true;
                        }
                    }
                    return relError;
                }

                function exit() {
                    /*var loc = window.location;
                    var pathName = loc.pathname.substring(0, loc.pathname.lastIndexOf('/') + 1);
                    var Urlfinal = loc.href.substring(0, loc.href.length - ((loc.pathname + loc.search + loc.hash).length - pathName.length));
                    location.href = Urlfinal;*/
                    location.href = document.getElementById('hrefObligations').value;
                }

            </script>
            <div>
                <input th:if="${id == 'add'}" type="button" name="add" id="add" value="Add" class="btn btn-primary" onclick="selectAll()"/>
                <input th:unless="${id == 'add'}" type="button" name="edit" id="edit" value="Save changes" class="btn btn-primary" onclick="selectAll()"/>
                <input type="button" name="cancel" onclick="exit()" value="Exit" class="btn"/>

            </div>
        </form>
    </div>

    <div th:replace="layout :: footerFragment"></div>
</div>
</body>
</html>