<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: headerFragment"></head>
<body>
<!--/*@thymesVar id="obligation" type="eionet.rod.model.Obligations"*/-->

<div id="container">
    <div th:include="layout :: bannerFragment"></div>
    <div id="workarea">
        <div class="title">
            <h1 th:if="${obligation.oblTitle == null}">Legislation</h1>
            <h1 th:unless="${obligation.oblTitle == null}" th:text="'Legislation for: ' + ${obligation.oblTitle}"></h1>
            <ul sec:authorize="hasRole('EDITOR')" class="menu-operations">
                <li><span>Operations</span>
                    <ul>
                        <li><a th:href="@{'/obligations/'+ ${obligationId} +'/edit/'}">Edit obligation</a></li>
                        <li sec:authorize="hasRole('ADMIN')"><a th:href="@{'/obligations/delete/' + ${obligationId}}">Delete obligation</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div id="tabbedmenu">
            <ul>
                <li><span><a th:href="@{'/obligations/' + ${obligationId}}">Overview</a></span></li>
                <li id="currenttab"><span>Legislation</span></li>
                <li><span><a th:href="@{'/obligations/' + ${obligationId} + '/deliveries'}">Deliveries</a></span></li>
                <li><span><a th:href="@{'/obligations/' + ${obligationId} + '/history'}">History</a></span></li>
            </ul>
        </div>
        <br/>
        <br/>
        <span class="pagebanner">Legal framework</span>
        <div class="form-horizontal">
            <div class="datatable results">
                <div class="form-group odd">
                    <div class="col-xs-4">Legal instrument title</div>

                    <div class="col-xs-8">
                        <a th:href="@{'/instruments/'+ ${obligation.sourceId}}" th:utext="${obligation.sourceAlias != ''} ? ${obligation.sourceAlias} : ${obligation.sourceTitle}"></a>
                        <span th:if="${obligation.authority != null}" th:text="' ' + ${obligation.authority}"></span>
                    </div>
                </div>
                <div class="form-group even">
                    <div class="col-xs-4">Sibling reporting obligations</div>
                    <div class="col-xs-8">
                        <ul th:if="${not #lists.isEmpty(siblingObligations)}">
                            <li th:each="siblingObligation : ${siblingObligations}">
                                <a th:href="@{'/obligations/'+${siblingObligation.siblingOblId}}" th:text="${siblingObligation.siblingTitle}"></a>
                                <span th:if="${siblingObligation.terminate != 'N'}" class='smallfont' style='color:red' th:text="' [terminated]'"></span>
                                <span th:if="${siblingObligation.authority != null}" th:text="${siblingObligation.authority}"></span>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="form-group odd">
                    <div class="col-xs-4">Participating countries/territories</div>
                    <div class="col-xs-8" th:if="${not #lists.isEmpty(ObligationCountries)}">
                        <a th:each="ObligationCountry, itemStart : ${ObligationCountries}" th:href="@{'/countrydeliveries?spatialId=' + ${ObligationCountry.countryId} + '&amp;actDetailsId=' + ${obligation.obligationId}}"
                           th:utext="!${itemStart.last} ? ${ObligationCountry.countryName} + ', ' : ${ObligationCountry.countryName}" th:title="${ObligationCountry.voluntary == 'Y' ? 'Informal participation in the reporting obligation' : ''}"></a>
                    </div>
                </div>
                <div class="form-group even">
                    <div class="col-xs-4">Environmental issues</div>
                    <div class="col-xs-8" th:if="${not #lists.isEmpty(issues)}">
                        <span th:each="issue, itemStart : ${issues}" th:utext="!${itemStart.last} ? ${issue.issueName} + ', ' : ${issue.issueName}"></span>
                    </div>
                </div>
                <div class="form-group odd">
                    <div class="col-xs-4">General comments</div>
                    <div class="col-xs-8" th:utext="${obligation.comment}"></div>
                </div>
            </div>

        </div>

    </div>
    <div th:replace="layout :: footerFragment"></div>
</div>
</body>
</html>