<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: headerFragment"></head>
<body>
<script th:inline="none">
    /*<![CDATA[*/
    $(document).ready(function () {
        $.fn.dataTable.moment('DD/MM/YYYY HH:mm:ss');
        $('#historyTable').DataTable({
            "sDom": 'Tfrtipt',
            "sPaginationType": "full_numbers",
            "order": [[ 0, "desc" ]]
        });

    });
    /*]]>*/
</script>
<!--/*@thymesVar id="obligation" type="eionet.rod.model.Obligations"*/-->

<div id="container">
    <div th:include="layout :: bannerFragment"></div>
    <div id="workarea">
        <div class="title">
            <h1 th:if="${obligation.oblTitle == null}">Reporting obligation</h1>
            <h1 th:unless="${obligation.oblTitle == null}" th:text="'History of ' + ${obligation.oblTitle}"></h1>
            <ul sec:authorize="hasRole('EDITOR')" class="menu-operations">
                <li><span>Operations</span>
                    <ul>
                        <li><a th:href="@{'/obligations/'+ ${obligationId} +'/edit/'}">Edit obligation</a></li>
                        <li sec:authorize="hasRole('ADMIN')"><a th:href="@{'/obligations/delete/' + ${obligationId}}">Delete obligation</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="tabbedmenu">
            <ul>
                <li><span><a th:href="@{'/obligations/' + ${obligationId}}">Overview</a></span></li>
                <li><span><a th:href="@{'/obligations/' + ${obligationId} + '/legislation'}">Legislation</a></span></li>
                <li><span><a th:href="@{'/obligations/' + ${obligationId} + '/deliveries'}">Deliveries</a></span></li>
                <li id="currenttab"><span>History</span></li>
            </ul>
        </div>

        <div style="clear: both;"></div>

        <div th:if="${#lists.isEmpty(versions)}">There are no results.</div>
        <div th:if="${not #lists.isEmpty(versions)}">
            <table id="historyTable" class="datatable results table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Time</th>
                    <th>Object</th>
                    <th>Operation</th>
                    <th>User</th>
                </tr>
                </thead>
                <tr th:each="version, iterStat : ${versions}" th:class="${iterStat.odd} ? 'even' : 'odd'">
                    <td><span th:text="${#dates.format(version.date, 'dd/MM/yyyy HH:mm:ss')}"></span></td>
                    <td><a th:href="@{'/undoinfo?ts=' + ${version.undoTime} + '&tab=T_OBLIGATION&op=U&id=' +${obligationId} + '&user=' + ${version.value}}" th:text="'/obligations/' + ${obligationId}"></a></td>
                    <td><span>UPDATE</span></td>
                    <td><span th:text="${version.value}"></span></td>
                </tr>
            </table>
        </div>

    </div>
    <div th:replace="layout :: footerFragment"></div>
</div>
</body>
</html>