<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="layout :: headerFragment">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="developer.css"/>
  </head>
  <body>
    <div id="container">
      <div th:replace="layout :: bannerFragment">
        <div id="pagehead">
          <div id="networktitle">Datalake</div>
          <div id="sitetitle">European Environment Information and Observation Network</div>
          <div id="sitetagline">Networking improving Europe's environment</div>
        </div>
      </div>
      <div id="workarea">
        <div id="operations">
          <ul>
            <li><a href="datasetFactsheet.html" th:href="@{'/datasets/' + ${datasetId}}" >Back to dataset</a></li>
          </ul>
        </div>

        <h1>Dataset QA</h1>
        <div th:if="${message}" th:text="${message}" class="system-msg">System message</div>
<form action="#" th:action="@{'/qatests/' + ${datasetId} + '/deletetests'}" method="POST">
<table class="datatable">
  <thead>
    <tr>
        <th></th>
        <th>Type</th>
        <th>Query</th>
        <th>Expected result</th>
        <th>Edit</th>
    </tr>
  </thead>
  <tbody th:remove="all-but-first">
      <tr th:each="qatest : ${qatests}">
          <td><input type="checkbox" name="testid" th:name="testid" th:value="${qatest.testId}"/></td>
          <td th:text="${qatest.testType}">Table exists</td>
          <td th:text="${qatest.query}">T_DefaultProtocol</td>
          <td th:text="${qatest.expectedResult}">true</td>
          <td>
            <input class="edit-button" type="button" value="Edit" href="qatestEdit.html" th:href="@{/qatests/edit(testid=${qatest.testId})}" />
          </td>
      </tr>
      <tr>
          <td><input type="checkbox" name="id"/></td>
          <td>SQL statement</td>
          <td>SELECT CASE WHEN count(*) &gt; 1000 THEN 1 ELSE 0 END FROM TABLE</td>
          <td>1</td>
          <td>
            <input class="edit-button" type="button" value="Edit" href="qatestEdit.html"/>
          </td>
      </tr>
      <tr>
          <td><input type="checkbox" name="id"/></td>
          <td>Column exists</td>
          <td>T_DefaultProtocol.IsSSL</td>
          <td>false</td>
          <td>
            <input class="edit-button" type="button" value="Edit" href="qatestEdit.html" />
          </td>
      </tr>
  </tbody>
</table>
<div><input type="submit" value="Delete"/></div>
</form>

<h2>Add new test</h2>
<form action="#" th:action="@{'/qatests/' + ${datasetId} + '/add'}" th:object="${newqatest}" method="post">
    <table class="datatable">
        <tr>
            <th scope="row"><label for="testType">Type</label></th>
            <td>
                <select th:field="*{testType}" th:remove="all-but-first">
                    <option value="columnExists" th:value="${qaType}"  th:text="${qaType}" th:each="qaType : ${allQATypes}">Column exists</option>
                    <option value="tableExists">Table exists</option>
                    <option value="viewExists">View exists</option>
                    <option value="indexExists">Index exists</option>
                    <option value="sqlCheck">SQL statement</option>
                </select>
            </td>
        </tr>
        <tr>
            <th scope="row"><label for="query">Query</label></th>
            <td><textarea cols="60" rows="5" th:field="*{query}">select count(*) from table</textarea></td>
        </tr>
        <tr>
            <th scope="row"><label for="expected">Expected</label></th>
            <td><input type="text" size="16" value="true" th:field="*{expectedResult}" /></td>
        </tr>
    </table>
    <input type="submit" value="Add QA test"/>
</form>
<script type="text/javascript">
    (function(){
        $('.edit-button').click(function(){
            window.location.assign($(this).attr("href"));
        });
        $('.delete-button').click(function(){
            if (confirm("Are you sure you want to delete the test ?") == true) {
                window.location.assign($(this).attr("href"));
            }
        });
    })();
</script>
      </div>
    </div>
    <!-- container -->
    <div id="pagefoot" th:include="layout :: footerFragment">
    Footer
    </div>
  </body>
</html>
