<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: headerFragment}"></head>
<body>
<div id="container">
    <div th:replace="~{layout :: bannerFragment}">
    </div>
    <div id="workarea">
        <div th:replace="~{helpModal :: helpModalFragment}"></div>
        <p>
            The contents of ROD can be used in several different ways. Currently the main way is to browse the website. The contents of the database are also available for
            use as RDF. The purpose of this text is to give an introduction to how these technologies can be used to extract contents from ROD and overview
            what is available.
        </p>

        <h2>RDF</h2>
        <ol>
            <li>
                <a th:href="@{/obligations}"><b>Reporting Obligations</b></a>: available at: <a href="http://rod.eionet.europa.eu/obligations.rdf">
                http://rod.eionet.europa.eu/obligations.rdf</a>; lists all reporting obligations with linked countries and environmental issues.
            </li>
            <li>
                <a th:href="@{/instruments}"><b>Legal Instruments</b></a>: available at: <a href="http://rod.eionet.europa.eu/instruments.rdf">
                http://rod.eionet.europa.eu/instruments.rdf</a>; lists all legal Instruments.
            </li>
            <li>
                <a th:href="@{/spatial}"><b>Countries and territories</b></a>: available at: <a href="http://rod.eionet.europa.eu/spatial.rdf">
                http://rod.eionet.europa.eu/spatial.rdf</a>; lists all countries and territories.
            </li>
        </ol>
    </div>
</div>
<!-- container -->
<div id="pagefoot" th:replace="~{layout :: footerFragment}"></div>
</body>
</html>
