
#qaresult {
border: 1px solid #aaa;
font-size:120%;
padding: 0.5em 1em;
}

.success {
background-color: #00F000;
}
.failure {
background-color: #FF1010;
}
.notests {
background-color: #FFFF66;
}

.currentedition {
background-color: #AAA;
}

progress:not([value]) {
  display: none;
}

progress[value] {
  display: block;
  width: 250px;
  height: 20px;
}

#uploadprogress {
  padding: 1em;
  margin: 1em;
  border: 1px solid black;
  background-color: #dddddd;
  display: none;
}

#uploadcomplete {
  display: none;
  padding: 1em;
  margin: 1em;
  border: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}

.bigbutton {
  padding: 1em;
  margin: 1em 5%;
  border-radius: 8px;
  border-width: 3px;     
  border-style:outset;
  border-color: rgb(158, 156, 58);
  text-align: center;
  background-color: rgb(107,116,39);
  color: #ffffff;
  font-size: 110%;
}

.bigbutton a:link, .bigbutton a:visited {
  color: #ffffff;
}

.formrow {
  margin: 0.5em 0;
}

/* Dropdown operations */
#drop-operations {
    float: right;
    width: 140px;
    font-family: verdana, helvetica, sans-serif;
}
#drop-operations h2 {
    font-size: 100%;
    background: #b0b0b0 url(images/drop-arrow.gif) 2px center no-repeat;
    font-weight: bold;
    padding: 0.2em 0px 0.2em 12px;
    margin: 0;
}
#drop-operations:hover h2 {
    background-image: none;
}
#drop-operations a:link, #drop-operations a:visited {
    display: block;
    text-decoration: none;
    padding: 0.1em 0.5em;
    color: #000;
}

#drop-operations ul {
    padding: 0;
    margin: 0;
    list-style: none;
    list-style-image: none;
    display: none;
    position: absolute;
    top: 1em;
    left: 0;
    background-color: #ccc;
}

#drop-operations > ul { /* For Opera and Firefox */
    top: auto;
    left: auto;
}

#drop-operations ul li {
    float: none;
    border-right: 0 none transparent;
    border-bottom: 1px dotted #000;
    background-color: #ccc;
    text-transform: none;
    margin: 0;
    padding: 0.1em 0;
    color: #000;
}

#drop-operations li a:hover {
    background-color: #eee;
}

div#drop-operations:hover ul, .over ul {
    display: block;
    width: 140px;
}

