
.sortable tr:nth-child(even) {background: #CCC}
.sortable tr:nth-child(odd) {background: #FFF}

.bigbutton {
  padding: 1em;
  margin: 1em 5%;
  border-radius: 8px;
  border-width: 3px;
  border-style:outset;
  border-color: rgb(158, 156, 58);
  text-align: center;
  background-color: rgb(107,116,39);
  color: #ffffff;
  font-size: 110%;
}

.bigbutton a:link, .bigbutton a:visited {
  color: #ffffff;
}

.formrow {
  margin: 0.5em 0;
}

.odd ul
{
	list-style-type: none !important;
	list-style-image: unset !important;
	margin: 0 !important;
}
.even ul
{
	list-style-type: none !important;
	list-style-image: unset !important;
	margin: 0 !important;
}

/*Countries*/

#tabCountries{
	width: 100%;
	vertical-align: top;
}

#tabCountries tr
{
	vertical-align: top;
}

#tabCountries a
{
	width: 100% !important;
}

.terminated {
    color: red !important;;
}

.displayNone{
	display: none;
}
.displayYes{
	display: table-row;
}
.selectObligations{
 	width: 100%;
 	text-overflow:ellipsis !important;
	white-space:nowrap !important;
	overflow:hidden !important;
	display: -webkit-box !important;
  	-webkit-line-clamp: 2 !important;
  	-webkit-box-orient: vertical !important;
}

.inputwidth100
{
	width: 100%;
}
.edit{
	/* border: 1px solid #00446A; */
    background: #00446A !important;
    color: #fff !important;
    cursor: pointer !important;
}
.add{
	/* border: 1px solid #00446A; */
    background: #00446A !important;
    color: #fff !important;
    cursor: pointer !important;
}
/*-----------------------------------TRT---------------------------------------*/
#workarea div.filter {
    background: none;
    width: 100%;
}
#workarea h1{
  font-size: 2.7rem;
  font-weight: bold;
  margin: 0;
  width: auto;
}
#workarea .title{
  display: inline;
}
#workarea table {
    empty-cells: show;
    background-color: #ffffff;
    font: inherit;
}
#workarea .filter .row{
  display: flex;
}

#workarea .filter .row .labeldiv{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    width: 30%;
    text-align: left;
    padding-left: 1.2em;
    padding-top: 0.5em;
}
#workarea .filter .row .labeldiv label{
    color: #00446A;
    text-align: center;
    white-space: nowrap;
}
#workarea .filter .row .labeldiv .helpButton{

}
#workarea .filter .row .input{
    position: relative;
    width: 80%;
}
#workarea .filter .row .input .smalltext{
    width: 100%;
    font-weight:bold;
  }

.inputcheck{
  border: 1px solid #9ac4c6;
  background: #fff;
  padding-left: 0.5em;
  padding-top: 0.2em;
}
#drop-operations .search,#filters{
  background-color: #fff !important;
}
.new_link{
  float: right;
  color: #00446A;
  cursor: pointer;
}
